@import url("./reset.css");

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(79, 216, 205);
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    padding: 10px;
    font-size: 40px;
    margin-left: 25px;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    padding: 10px;
    font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

#goalForm, #dailyForm {
    font-size: 28px;
    margin-bottom: 15px;
}

input {
    border: 1px solid rgb(16, 77, 77);
    background-color: rgb(243, 246, 247);
    margin-bottom: 15px;
    width: 40%;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 1rem;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgb(7, 83, 64);
    background-color: white;
    color:rgb(12, 78, 64);
    border-radius: 10px;
    gap: 20px;
    width: 40%;
}

.calendar {
    margin-top: 20px;
}

.day {
    margin-bottom: 10px;
}

